@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@500&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
        background-image: url("./bg1.jpg");
        background-repeat: no-repeat;
        background-size:cover;
        background-attachment: fixed;
        display: flex;
        position: relative;
        height: 400px;
        
}

#one{
margin-top: 150px;
height: 400px;
}



#myCanvas{
    margin-left: 100px;
    border-radius: 20px;
}





#btns{
    
    margin-left: 100px;
}
#btn1{

    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


#btn1{
    gap: 40px;
    margin-left: 100px;
    margin-top: 28px;
    margin-bottom: 28px;
    margin-right: 20px;
    cursor: pointer;
    text-decoration: none;

}
#btn2{

    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;

}


#two{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-top: 240px;

}

#select{
    display: flex;
    flex-direction: column;
    font-family: 'Baloo Tammudu 2', cursive;
    width: 50px;
    margin: 10px;

}

#width{
    padding: 20px;
    width: max-content;
}

#clr{
    padding:20px;
    width: max-content;
}

#res{
    padding: 20px;
    font-family: 'Baloo Tammudu 2', cursive;

}




#width label{
    font-size: 30px;
    font-weight: bolder;
}

#clr label{
    font-size: 30px;
    font-weight: bolder;

}z
